#*#
*.#*#
*.a
*.exe
*.gcda
*.gcno
*.gcov
*.o
*.orig
*.rej
*~
/.git-module-status
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/libvirt-snmp.spec
/missing
/stamp-h1
/src/libvirtMib_subagent
/src/.deps
